.nav {
    background-color: goldenrod;
    display: flex;
    gap: 8px;
    padding: 16px;
    border-bottom: 2px solid slateblue;
    margin-bottom: 8px;
}

.link {
    color: black
}

.link.active {
    color: slateblue;
}