.nav {
    background-color: rgb(86, 219, 164);
    display: flex;
    gap: 8px;
    padding: 16px;
    border-bottom: 2px solid rgba(56, 22, 83, 0.747);
}

.link.active {
    color: rgba(56, 22, 83, 0.747);
}