.form {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.input {
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 8px;
}

.button {
    font-size: inherit;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.list {
    color: slateblue;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: underline;
    margin-top: 12px;
}